header.entry-header {
	text-align: center;
	font-family: sans-serif; 
}
a.author  {
	font-weight: bold;
	text-decoration: none;
}
h1 {
	font-size: 34px;
}
div.main-content>p {
	margin:40px;
	margin-left: 222px;
	margin-right: 222px;
	text-align: left;
	font-size: 21px;
	display: block;
	padding: 5px;
	line-height: 28px;
}

.main-content > p:first-child {
	font-size: 26px;
	line-height: 32px;
}

h2 {
	color: #BC381D;
	font-size: 23px;
	font-family: sans-serif;
	font-weight: bold;
}
ol,
ul {
	display: inline-block;
	line-height: 45px;
	margin-left: 250px;
}
h3 {
	font-size: 16px;
	font-family: sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}
figure.quote {
	display: inline-block;
	font-style: italic;
	text-align: left;
	border-left: 1px dotted;
}